<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/static/functions.js"></script>
<link href="/static/style.css" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class = 'bg-black'>
    <div id="tracks" class="flex flex-col space-y-0.5 mt-5">
    <script type="text/javascript">
        createSearchAddDivs({{data | tojson}})
        test({{data | tojson}})
    </script>
    </div>
</body>
</html>