<html lang="en">
<script type="text/javascript" src="../static/Auth.js"></script>
<script type="text/javascript">
    test({{data | tojson}})

  </script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTBUILD</title>
</head>

<body>

  <div id = "playlists" class = " relative space-x-3 flex items-stretch bg-gray-300 overflow-x-auto ">
 <script type="text/javascript">
    test({{data | tojson}})

  </script>
    
</div>

</body>
</html>
