<html lang="en">
<script type="text/javascript" src="../static/functions.js"></script>
<link href="../static/style.css" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTBUILD</title>
</head>

<body class = 'bg-black'>
<div class = "h-64 bg-gradient-to-b from-fuchsia-500 to-pink-600">
  <div class = 'flex justify-center'>
    <input type="search" placeholder="Search for songs" id="search" class="flex w-64 rounded-lg text-center mt-3 bg-gray-700 font-semibold drop-shadow-lg">
   <script type="text/javascript">
    const searchInput = document.getElementById("search")
    searchInput.addEventListener('keypress', (e) => {
      if (e.key == "Enter"){
        const value = e.target.value
        console.log(value)
        window.location.href = "http://127.0.0.1:5000/search/" + value

      }
  })
   </script>
  </div>
<div class= "pt-20 text-6xl pl-3 font-semibold flex flex-row space-x-10 max-h-max">
 <img class = " size-32 rounded-2xl " src="{{imagedata}}" alt="">
 <div class = "flex">
  Welcome, {{user}}
 </div> 
</div>





</div>
<div class = "text-white pl-3 mt-7 font-bold text-4xl mb-3">
  Your Playlists
</div>
  <div id = "playlists" class = " relative space-x-3 flex items-stretch overflow-x-auto pb-5 ">
 <script type="text/javascript">
    createPlaylistDivs({{data | tojson}})
  
    test({{userdata | tojson}})

    
  </script>
   
</div>
</div>
<div class = "text-white pl-3 mt-7 font-bold text-4xl mb-3">
  Your Saved Songs
</div>
<div id = "savedsongs" class = " relative space-x-3 flex items-stretch overflow-x-auto pb-5 ">
  <script type="text/javascript">
     
   
     createSavedDivs({{savedSongs | tojson}})
     test({{savedSongs | tojson}})
     
   </script>
    
 </div>
</body>
</html>
