<!DOCTYPE html>

<link href="../static/style.css" type="text/css" rel="stylesheet">

<body class = "bg-gray-600 ">
    <div class = "items-center justify-center">
        <div class = "flex gradie bg-white items-center justify-center border-none py-6 flex-col space-y-4 h-screen">
            <div class = "w-32 bg-blue-600 py-6 rounded-xl text-center flex-wrap">
                hello
            </div>
            <button class="transition transform hover:text-white hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none bg-green-800 hover:bg-green-500 py-6 w-32 rounded-xl hover:shadow-xl drop-shadow-md">
                tester
              </button>

        </div>


    </div>

</body>