<!DOCTYPE html>
<title>
        TESTBUILD
    </title>
<link href="../static/style.css" type="text/css" rel="stylesheet">

<body class = "bg-black min-h-screen">
    <header class = " flex text-white py-6 text-5xl justify-center text-center font-sans font-semibold">

        placeholder
    </header>
    
    <div class = "items-center justify-center flex h-64 relative ">
        <div class = "flex relative top-32 rounded-xl bg-gradient-to-b from-fuchsia-500 to-pink-600 
                       items-center justify-center border-none py-9 px-12 flex-col space-y-36 ">
            <div class = "w-32  py-6 font-sans rounded-xl text-center flex-wrap font-bold">
                placeholder
            </div>
            <button class="transition transform flex hover:text-white hover:-translate-y-1 
                            motion-reduce:transition-none motion-reduce:hover:transform-none
                            bg-green-700 hover:bg-green-500 py-6 w-64  rounded-xl hover:shadow-xl drop-shadow-md
                            font-sans text-white h-5 items-center">
                <h1 class = " font-semibold flex pl-12">
                    LOG IN WITH

                </h1>
                <img src="../content/spotify-512.png" alt="" class = "size-9 flex-auto object-contain pr-5">
              </button>

        </div>


    </div>

</body>