<!DOCTYPE html>
<script type="text/javascript" src="../static/functions.js"></script>
<link href="../static/style.css" type="text/css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTBUILD</title>
</head>
<body class = 'bg-black' >
    <div class = 'flex justify-center'>
        <input type="search" placeholder="Search to add a song" id="search" class="flex w-64 rounded-lg text-center mt-3 bg-gray-700 font-semibold drop-shadow-lg">
       <script type="text/javascript">
        const searchInput = document.getElementById("search")
        searchInput.addEventListener('keypress', (e) => {
          if (e.key == "Enter"){
            const value = e.target.value
            console.log(value)
            window.location.href = window.location.href + "/" + value + "/addsong"
    
          }
      })
       </script>
      </div>
    
    <div id="tracks" class="flex flex-col space-y-0.5 mt-5" >
        <script>
                createTrackDivs({{data | tojson}})
                test({{data | tojson}})

            </script>
    



    </div>
</body>
</html>