<!DOCTYPE html>
<script type="text/javascript" src="../static/functions.js"></script>
<link href="../static/style.css" type="text/css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTBUILD</title>
</head>
<body class = 'bg-black' >
    
    <div id="tracks" class="flex flex-col space-y-0.5 mt-5" >
        <script>
                createTrackDivs({{data | tojson}})
                test({{data | tojson}})

            </script>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/HIT IN THE USA/BEAT CRUSADERS">HIT IN THE USA</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/50¢ WISDOM/BEAT CRUSADERS">50¢ WISDOM</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/LITTLE MORE THAN BEFORE/10-FEET">LITTLE MORE THAN BEFORE</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/I call you love/meister">I call you love</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>
        <a class="bg-slate-600 w-80 text-white font-semibold rounded-lg pl-5 items-center text-lg ml-5 transition hover:bg-slate-400" href="http://127.0.0.1:5000/home/1IgvvBdMEFgNyaBFjSLYK3/MOON ON THE WATER/BEAT CRUSADERS">MOON ON THE WATER</a>




    </div>
</body>
</html>